<row>
  <div class="col-md-9">

    <leaflet width="100%" height="800px" lf-center="main.center" markers="main.markers"></leaflet>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Your data :)</div>
      <div class="panel-body">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Age</span>
          <input type="text" class="form-control" placeholder="E.g: 45" aria-describedby="basic-addon1">
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Your money</span>
          <input type="text" class="form-control" placeholder="E.g: 12000" aria-describedby="basic-addon1">
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Your situation</span>
          <input type="text" class="form-control" placeholder="E.g: Father" aria-describedby="basic-addon1">
        </div>
        <br/>
        <button type="button" class="btn btn-primary btn-lg btn-block">Show me where I should buy!</button>
      </div>
    </div>
  </div>
</row>
